확인용 :<%=@selected.count%><br>
<%j=0%>
<% for i in 0..119%>
<div class="col-md-1 col-sm-3">
        

        <div class="boxy my_content"data-toggle="tooltip" data-placement="top" title="Tooltip on top">
        <% if @nonblank.include?(i) %>
            <%=@random[j] %>
            <% j=j+1 %>
        <%else%>

        <% end %>
            <%i%>
        </div>
               
            
    
</div>
<% end %>

<!-- Post Info -->
<div class="box_container">
    
        <form action="/home/last">
        
            <ol id="selectable">
                <button class="blocks" name="num" type="submit" value=1 checked> 1</button>
                <button class="blocks" type="submit"  name="num" value=2 > 2</button>
                <button class="blocks" type="submit"  name="num" value=3 > 3</button>
                <button class="blocks" type="submit"  name="num" value=4 > 4</button>
                <button class="blocks" type="submit"  name="num" value=5 > 5</button>
                <button class="blocks" type="submit"  name="num" value=6 > 6</button>
                <button class="blocks" type="submit"  name="num" value=7 > 7</button>
                <button class="blocks" type="submit"  name="num" value=8 > 8</button>
                <button class="blocks" type="submit"  name="num" value=9 > 9</button>
            </ol>
            <br>
        </form> 
</div>
