<br>
<%j=0%>
<% for i in 0..119%>
<div class="col-md-1 col-sm-3">
        

        <div class="boxy my_content"data-toggle="tooltip" data-placement="top" title="Tooltip on top">
        <% if @nonblank.include?(i) %>
            <%=@random[j] %>
            <% j=j+1 %>
        <%else%>

        <% end %>
            <%i%>
        </div>
               
            
    
</div>
<% end %>

<!-- Post Info -->
<div class="box_container">
        <p><%=@selected.count%> 개의 요금제가 선택되었습니다</p>
        <form action="/home/last">
        
            <ol id="selectable">
                <button class="blocks" name="num" type="submit" value=1 checked>음성 : 0분 ~ 300분, 데이터 : 7GB이상 (무제한 포함)</button>
                <button class="blocks" type="submit"  name="num" value=2 >음성 : 300분 ~ 800분, 데이터 : 7GB이상 (무제한 포함)</button>
                <button class="blocks" type="submit"  name="num" value=3 >음성 : 800분이상 (무제한 포함), 데이터 : 7GB이상 (무제한 포함)</button>
                <button class="blocks" type="submit"  name="num" value=4 >음성 : 0분 ~ 300분, 데이터 : 3GB ~ 7GB</button>
                <button class="blocks" type="submit"  name="num" value=5 >음성 : 300분 ~ 800분, 데이터 : 3GB ~ 7GB</button>
                <button class="blocks" type="submit"  name="num" value=6 >음성 : 800분이상 (무제한 포함), 데이터 : 3GB ~ 7GB</button>
                <button class="blocks" type="submit"  name="num" value=7 >음성 : 0분 ~ 300분, 데이터 : 0GB ~ 3GB</button>
                <button class="blocks" type="submit"  name="num" value=8 >음성 : 300분 ~ 800분, 데이터 : 0GB ~ 3GB</button>
                <button class="blocks" type="submit"  name="num" value=9 >음성 : 800분이상 (무제한 포함), 데이터 : 0GB ~ 3GB</button>
            </ol>
            <br>
        </form> 
</div>
