<h1>마지막 설문</h1>
확인용 : <%=@selected.count%><br>
<br>
<%j=0%>
<% for i in 0..119%>
<div class="col-md-1 col-sm-3">
        

        <div class="boxy my_content"data-toggle="tooltip" data-placement="top" title="Tooltip on top">
        <% if @nonblank.include?(i) %>
            <%=@random[j].name %>
            <% j=j+1 %>
        <%else%>

        <% end %>
            <%i%>
        </div>
               
            
    
</div>
<% end %>
<!-- Post Info -->
<div class="true_container">
    <h3>설문 </h3><br>
    <p> 해당되는게 있나요?</p>
    
        <form action="/home/last">
            <input type="radio" name="num" value=1 checked> 없음
            <br>
            <input type="radio" name="num" value=2> 청소년
            <br>
            <input type="radio" name="num" value=3> 어르신
            <br>
            <input type="radio" name="num" value=4> 아동
            <br>
            <input type="radio" name="num" value=5> 장애
            
            <input type="submit">
        </form> 
<div>
