<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>jQuery UI Slider - Range with fixed minimum</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">  
    <style>
      .true_container {
        position:fixed;
        bottom:25%;left:20%;right:19%;
        height:50%;
        text-align:center;
        opacity: 0.8;
        border-radius:2em;
    }
  </style>
  <script>
  $(function() {
    $( "#slider-range-min" ).slider({
      range: "min",
      value: 37,
      min: 1,
      max: 700,
      slide: function( event, ui ) {
        $( "#amount" ).val( ui.value );
      }
    });
    $( "#amount" ).val(  $( "#slider-range-min" ).slider( "value" ) );
  });
  </script>

</head>
<body>

    <div class="true_container">
        <form action="/home/result">
        <p>
            <label for="amount">Maximum price:</label>
            <input type="text" id="amount" name="range" readonly style="border:0; color:#f6931f; font-weight:bold;">
            </p>
            <div style="width:50%; left:25%;" id="slider-range-min"></div>
             
            <input type="submit" value="아아">
        </form>
    </div>
</body>
</html>