<br>
<%j=0%>
<% for i in 0..119%>
<div class="col-md-1 col-sm-3">
        

        <div class="boxy my_content">
        <% if @nonblank.include?(i) %>
            <%=@random[j] %>
            <% j=j+1 %>
        <%else%>

        <% end %>
            <%i%>
        </div>
               
            
    
</div>
<% end %>
<!-- Post Info -->
<div class="box_container">
    <p><%=@selected.count%> 개의 요금제가 선택되었습니다</p>
</div>
<div class="true_container">
    <h3>설문 </h3><br>
    <p>지불형태는 어떻게?</p>
    
        <form action="/home/third">
            <input type="radio" name="num" value=1 checked> 후불
            <br>
            <input type="radio" name="num" value=2> 선불
            <input type="submit">
        </form> 
<div>
