// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//설문지 컨테이너 설정
.true_container {
    position:fixed;
    bottom:25%;left:20%;right:19%;
    background:lightgray;
    height:50%;
    text-align:center;
    opacity: 0.8;
    border-radius:2em;
}
.boxy{
    width: 100%;
    height : 35px;
    margin: 5px;
    border-radius: 25px;
}
.my_content {
    font-size : 1em;
    text-align: center;
}
.box_container{
    position:fixed;
    bottom:10%;left:20%;right:19%;

    text-align:center;
    opacity : 0.8;
}
.blocks{
    width: 30%;
    height: 150px;
}
